/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	/* border: 1px solid red; */
	width: 900px;
	margin: auto;
}

header nav {
	display: inline-block;
	margin-top: 35px;
}

header nav a {
	margin: 0 20px;
	text-decoration: none;
	color:darkgrey;
}

header .logo {
	margin-left: 140px;
}

h1 {
	display:inline-block;
	font-size: 52pt;
	text-align: center;
	position:relative;
}

.circle {

	position: relative;
	top: 100px;
	right: 100px;
}

.innovation {
	position: relative;
	top: -40px;
	left: 150px;
}

button {
	border: 1px solid black;
	position: relative;
	padding: 10px 40px;
	top: 55px;
	right: 225px;
	font-size: 12pt;
}

.features, .about {
	border-top: 1px solid grey;
	display: inline-block;
	width: 45%;
	padding: 10px;
	margin-top: 150px;
}

.features {
	margin-left: 50px;
}

.middle-img {
	padding-left: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 852px;
}

.services, .product, .vision {
	display: inline-block;
	width: 30%;
	padding: 10px;
	position: relative;
	left: 55px;
	top: -15px;
}

.phone {
	display: inline-block;
	padding: 20px 0px 35px 0px;
}

.footer {
	display:inline-block;
	margin-top:50px;
	padding-left: 100px;
}

.copyright {
	text-align: center;
	padding: 70px 0px;
}

footer h2 {
	width: 300px;
	margin-left: 62px;
}

footer p {
	width: 300px;
	margin-left: 62px;
}

.services, .product, .vision {
	margin-bottom: 50px;
}

.services, .product, .vision{
	border-bottom: 1px solid gray;
	padding-bottom: 60px;
}